/* Footer.css */

@font-face {
    font-family: "Taksh";
    src: local("FMBolyarSansPro-400"),
        url("../fonts/FMBolyarSansPro-400.ttf") format("truetype");
}

footer {
    background-color: rgba(33, 37, 41, 1);
    /* Light gray background */
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    position: fixed;
    /* Make the footer stay at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: whitesmoke
        /* Dark gray text color */
}

footer span {
    font-weight: bold;
    /* Make "Taksh" bold */
    color: white;
    /* Blue color for "Taksh" */
}

.taksh:hover {
    color: rgb(203, 203, 203);
    /* Change text color on hover */
}

.made-with-love {
    font-family: "Merriweather", serif;
    font-weight: 300;
}

.taksh {
    font-family: "Taksh", sans-serif;
}

.taksh:link {
    text-decoration: none;
}

.taksh:visited {
    text-decoration: none;
}

.taksh:active {
    text-decoration: none;
}