.guide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    /* Allow wrapping of elements for smaller screens */
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lottie-container {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
}

.another-component {
    flex: 1;
    max-width: 600px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .guide-container {
        flex-direction: column;
        /* Stack elements vertically on smaller screens */
        align-items: center;
    }

    .lottie-container,
    .another-component {
        margin-right: 0;
        /* Remove right margin */
        max-width: 100%;
        /* Allow full width */
        flex: none;
        /* Reset flex for individual elements */
    }

    .lottie-container {
        width: 100%;
        max-width: 100%;
        /* Make the Lottie animation take full width on mobile */
        height: auto;
    }
}

.encouragement-message {
    text-align: center;
    margin-top: 100px;
    /* Adjust as needed */
    font-size: 1.2em;
    font-weight: bold;
    /* Adjust font size as needed */
}

/* Center the encouragement message on desktop view */
@media (min-width: 769px) {
    .encouragement-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

.timer-text{
    margin-top: 30%;
}
@media screen and (max-width: 900px){
    .timer-text{
        margin-top: 50%;
    }
}


@media screen and (max-width: 768px){
    .timer-text{
        margin-top: -25%;
    }
}


@media screen and (max-width: 500px){
    .timer-text{
        margin-top: -25%;
    }
}

@media screen and (max-width: 400px){
    .timer-text{

    }
}

@media screen and (max-width: 300px){
    .timer-text{

    }
}