.guide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lottie-container {
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    /* Start with opacity 0 */
    transform: translateX(-100px);
    /* Start slightly off the screen to the left */
    animation: slideFadeIn 1s forwards;
    /* Apply slide-fade-in animation */
}

.another-component {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    /* Adjust spacing as needed */
}

@media (min-width: 768px) {
    .guide-container {
        flex-direction: row;
        justify-content: flex-start;
        /* Align to the left */
    }

    .lottie-container {
        width: 35%;
        justify-content: flex-start;
        /* Align to the left */
    }

    .another-component {
        width: 65%;
        margin-top: 0;
        margin-left: 20px;
        /* Adjust spacing as needed */
    }
}

/* Slide-fade-in animation */
@keyframes slideFadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
        /* Move to original position */
    }
}