.terminal-text-bubble {
    background-color: #282c34;
    color: greenyellow;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    /* Ensure padding is included in width/height */
}

.terminal-text-bubble p {
    margin: 0;
    font-size: 16px;
    white-space: pre-wrap;
}

.terminal-text-bubble .button-container {
    margin-top: 10px;
    text-align: right;
}

.terminal-text-bubble button {
    background-color: greenyellow;
    color: #282c34;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .terminal-text-bubble {
        width: 500px;
    }

}

@media screen and (max-width: 500px) {
    .terminal-text-bubble {
        width: 350px;
    }

}

@media screen and (max-width: 400px) {
    .terminal-text-bubble {
        width: 250px;
    }

}

@media screen and (max-width: 300px) {
    .terminal-text-bubble {
        width: 150px;
    }

}